__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Cursor/VSCode
.cursor/
.vscode/

# Build and Distribution
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# IDE / OS
.DS_Store
Thumbs.db